# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build files
dist/
build/

# uploads / temp files
uploads/
temp/

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# cache
.cache/
.parcel-cache/

# React / Vite
coverage/